// Navigation Styles here


.navigation{
    .flex();
    .center();
    width:100%;
    max-width:800px;
    @media @mobile{
        .flex(@flex-direction:column)
    }

    h1{
        @media @mobile{
            margin:2% auto;
            font-size:3rem;
        }
    }
    nav{
        .flex(@justify:space-around);
        width:45%;
        padding: 0 1%;
        @media @mobile{
            width:100%;
            justify-content:space-evenly;
        }
        a{
            text-decoration:none;
            color:@shark;
            font-size: 1.6rem;
            text-align:center;
            padding:1%;
            @media @mobile{
                padding:0%;
            }
        }
    }
}